@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --dark: #222222;
  --teal: #00c9a7;
  --white: #fbeaff;
  --lightViolet: #b39cd0;
  --violet: #845ec2;
}
* {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #222222;
}

body {
  background-color: var(--dark);
  padding: 0;
  margin: 0;
}
label {
  font-size: 15px;
}
input {
  background: transparent;
  border: 3px var(--dark) solid;
  display: block;
  width: 60%;
  height: 30px;
  font-size: 16px;
}
input:focus, input:active, input:focus-within, 
input:focus-visible, input:target{
  outline: none;
}
button {
  background: none;
  border: none;
  padding: 10px;
  height: fit-content;
  font-size: 1em;
  outline: none;
}

.form {
  width: 47vw;
  height: 90vh;
  background: linear-gradient(180deg, var(--violet) 0%, var(--teal) 100%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-around;
}
.form * {
  margin: 5px;
}

#useButton, #generateButton {
  transition-duration: 0.7s;
  width: 45%;
}

#useButton:hover, #generateButton:hover, .sendButton:hover {
  background-color: var(--dark);
  color: var(--white)
}
.sendButton {
  width: 45vw;
  transition-duration: 0.7s;
  align-self: flex-end;
}

#generationInputs, #testingInputs {
  align-content: flex-start;
}
#generationInputs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

#testingInputs {
  position: absolute;
  transform: translateY(30%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testingResult {
  width: 36vw;
  height: fit-content;
  min-height: 20vh;
  word-wrap: break-word;
  padding: 13px;
  margin-top: 20px;
  background-color: var(--dark);
  color: var(--white);
}

#PasswordTestingInputs, #Model_nameTestingInputs{
  width: 40vw;
}

#Model_nameGenerationInputs, #PasswordGenerationInputs {
  width: 22vw;
  min-width: 180px;
}
#SecretGenerationInputs {
  width: 45vw;
  min-width: 400px;
}
#Learning_rateGenerationInputs, #Extra_neuronsGenerationInputs,
#Max_epochsGenerationInputs, #Hidden_layersGenerationInputs,
#Min_matchGenerationInputs{
  width: 4em;
}


.body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.modelsList {
  width: 47vw;
  height: 90vh;
  background-color: var(--white);
}

.modelContainer {
  display: flex;
  align-content: center;
  padding: 10px;
  margin: 10px;
  border: 3px var(--dark) solid;
}
.removeButton{
  padding: 0;
  margin-left: auto;
}
.refreshButton::hover{
  background-color: var(--dark);
  color: var(--white)
}

.form, .modelsList {
  min-width: 450px;
}
@media only screen and (max-width: 900px) {
  .body{
    flex-direction: column;
    height: fit-content;
    gap: 10px;
  }
  .modelContainer {
    margin-top: 10px
  }
}
